.myBackground {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
}

.smallBackground {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center center;
}

.mediumBackground {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center center;
}

.skier {
  background-image: linear-gradient(180deg, rgba(22, 21, 21, 0.958420868347339) 0%, rgba(115, 115, 115, 0.6587009803921569) 100%), url("./img/01.jpg");

  h4 {
    font-weight: lighter;
  }

}

.team {
  background-image: linear-gradient(180deg, rgba(22, 21, 21, 0.8071603641456583) 7%, rgba(48, 46, 46, 0.6923144257703081) 95%), url("./img/03.jpg");
}

.portfolio {
  background-image: linear-gradient(180deg, rgba(22, 21, 21, 0.8071603641456583) 7%, rgba(48, 46, 46, 0.6923144257703081) 95%), url("./img/04.jpg");
}

.testimonials {
  background-image: linear-gradient(180deg, rgba(22, 21, 21, 0.8071603641456583) 7%, rgba(48, 46, 46, 0.6923144257703081) 95%), url("./img/05.jpg");
}

.bold {
  font-weight: bold;
}

.goldText {
  color: gold;
}

.absolute {
  position: absolute;
  top: 79%;
}

.relative {
  position: relative;
}

.icon {
  :hover {
    color: gold;
  }
}

.thinText {
  h4, h3 {
    font-weight: lighter;
  }
}

.myForm {
  form {
    textarea {
      width: 100%;
    }
  }
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  input {
    width: 100%;
  }
}

.buttons {
  button {
    width: 100px;
    background: #a2641e;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
  }
}

.footer {
  width: 100%;

  background: #2d2d2d;
}